

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  color: var(--secondary-color);
}
@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}

.image-box {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  flex-shrink: 0;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}
