.box {
  display: flex;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  align-items: center;
  padding: 20px;
  height: fit-content;
  gap: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
