.profile-container {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.border {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(55%, -45%);
  border: 2px solid var(--secondary-color);
  z-index: -1;
  border-radius: 10px;
}

.background {
  background: var(--primary-color);
  -webkit-box-shadow: 10px 10px 46px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 46px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 46px -18px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
