@media screen and (min-width: 1200px) {
  .container {
    height: 100%;
    scroll-snap-align: start;
  }
}

.container {
  padding: 20px;
}

.title {
  color: var(--secondary-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 20px 0;
}
