.container {
  scroll-snap-align: start;
  height: 100%;
  padding: 20px;
}

.title {
  color: var(--secondary-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 20px 0;
}
