@media screen and (min-width: 1200px) {
  .container {
    height: 100%;
    scroll-snap-align: start;
    position: relative;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.about-me {
  font-style: italic;
  width: 80%;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

@media screen and (min-width: 1200px) {
  .about-me {
    width: 50%;
  }
}

.arrow-box {
  width: 30px;
  height: 30px;
  display: none;
  opacity: 0.5;
}

@media screen and (min-width: 1200px) {
  .arrow-box {
    display: block;
    position: absolute;
    bottom: 20px;
  }
  .arrow-box:hover {
    opacity: 0;
  }
}
