@media screen and (min-width: 1200px) {
  .container {
    height: 100%;
    scroll-snap-align: start;
    padding: 20px;
  }
}

.container {
  background: var(--secondary-color);
  padding: 40px 20px;
}

.title {
  color: var(--primary-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

  
  }
}

.grid {
  display: grid;
  gap: 10px;
}
